<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>webpack</title>
    <script type="text/javascript" src="https://af.zhongan.io/dunkey.js"></script>
  </head>
  <body>
    <div style="text-align: center;">
      <button id="btn" style="width: 200px; height: 32px; color: white; background-color: #00BC70; margin: 20px 0">点选</button>
      <br />
      <button id="btn2" style="width: 200px; height: 32px; color: white; background-color: #00BC70">拖拽</button>
    </div>
  </body>
</html>